### OLD CONFIG!
# So we can disable iex if needed
# (set `-c ttynull` in erlinit)
CONFIG_NULL_TTY=y
# Needed for WiFi
CONFIG_QCA_CLD_WLAN=m
# Ex wifi
# CONFIG_CFG80211=y
# CONFIG_QCA_CLD_WLAN=y
# CONFIG_ATH10K=m
# CONFIG_ATH10K_PCI=m
# CONFIG_ATH10K_SDIO=m
# CONFIG_ATH_CARDS=m
# CONFIG_BRCMFMAC=m
# CONFIG_BRCMFMAC_SDIO=m
# CONFIG_BRCMUTIL=n
# CONFIG_WLAN=y
# CONFIG_RFKILL=y
# # Control the fan
# CONFIG_HWMON=y
# CONFIG_PMBUS=y
# CONFIG_SENSORS_GPIO_FAN=y
# CONFIG_SENSORS_PWM_FAN=y
# CONFIG_SENSORS_INA233=m
# CONFIG_MFD_BD71837=y
# CONFIG_REGULATOR_BD71837=y
# CONFIG_LEDS_KTD202X=y
# CONFIG_I2C_MUX=y
# CONFIG_I2C_MUX_PCA954x=m
# CONFIG_OF_GPIO=y

### Config from balena

CONFIG_ATH10K=m
CONFIG_ATH10K_PCI=y
CONFIG_ATH_CARDS=y
CONFIG_WLAN=y

# Needed for 5.4 to compile with gcc13+
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_USB_CDNS3=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_USB_MUSB_DUAL_ROLE=n

# Disable Vivante GPU driver (not needed for Coral, causes compilation errors)
CONFIG_MXC_GPU_VIV=n