# Enable U-Boot debug logging
CONFIG_SPL_LOG_LEVEL=4
CONFIG_LOG_MAX_LEVEL=8
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x30860000
CONFIG_DEBUG_UART_CLOCK=80000000
SPL_DEBUG_UART_BASE=0x30860000

# Enable OPTEE (based on https://github.com/embetrix/meta-coral-ai/blob/scarthgap/recipes-bsp/u-boot/files/0003-imx8mq_phanbell-defconfig-enable-optee.patch)
CONFIG_OPTEE=y
CONFIG_CMD_OPTEE_RPMB=y
CONFIG_TEE=y

# Disable BINMAN
# CONFIG_BINMAN is not set

# Set a delay when booting
CONFIG_BOOTDELAY=2